////////////////////////////////////////////////////////////////////////// MIXINS

@mixin flex-display($direction) {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: $direction;
  flex-wrap: wrap;
}

@mixin font-face($font-family, $font-weight, $font-size) {
  font-family: $font-family;
  font-weight: $font-weight;
  font-size: $font-size;
}

@mixin linx($link, $visit, $hover, $active) {
  a {
    color: $link;
    &:visited {
      color: $visit;
    }
    &:hover {
      color: $hover;
    }
    &:active {
      color: $active;
    }
  }
}

/////////////////////////////////////////////////////////////////////// VARIABLES
$top-bar: color;
// title properties
$title-font: 'Montserrat', sans-serif;
$title-font-color: beige;
$title-font-size: 70px;
// subtitle properties
$subtitle-font: 'Fira Sans', sans-serif;
$subtitle-font-color: white;

///////////////////////////////////////////////////////////////////////// STYLES

body, html {
  padding: 0;
  margin: 0;
  border: 0;
  max-width: 100vw;
  //height: 100vh;
  font-family: $title-font;
  color: $title-font-color;
  background-color: black;
  background-image: url("./../../media/bg-dark.png");
  background-size: cover;
  //background-position: center;
  background-repeat: no-repeat;

  //overflow: hidden;

}

.full-screen-container {
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  @include flex-display(column);
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

}

.title {
  font-size: 200%;
  //font-family: 'Josefin Sans', sans-serif;
  font-family: 'Pacifico', cursive;
}

.subtitle {
  color: indianred;
  font-family: 'Libre Baskerville', serif;
}

.question-div {
  font-family: "Fira Sans", sans-serif;
  min-width: 60vw;
  min-height: 50vh;
  background-color: rgba(255, 204, 153, 0.2);
  .question-title {
    margin: 10px;
  }
  .question-options {
    margin: auto;
    //padding: 0;
    .question-option {
      width: 500px;
      .options-text {
        font-family: "Fira Sans", sans-serif;
      }

    }
  }
}

.bottom-options {
  width: 370px;
}

.hidden {
  display: none;
}

