////////////////////////////////////////////////////////////////////////// MIXINS

@mixin flex-display($direction) {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: $direction;
  flex-wrap: wrap;
}

@mixin font-face($font-family, $font-weight, $font-size) {
  font-family: $font-family;
  font-weight: $font-weight;
  font-size: $font-size;
}

@mixin linx($link, $visit, $hover, $active) {
  a {
    color: $link;
    &:visited {
      color: $visit;
    }
    &:hover {
      color: $hover;
    }
    &:active {
      color: $active;
    }
  }
}

/////////////////////////////////////////////////////////////////////// VARIABLES
$top-bar: color;
// title properties
$title-font: 'Montserrat', sans-serif;
$title-font-color: beige;
$title-font-size: 70px;
// subtitle properties
$subtitle-font: 'Fira Sans', sans-serif;
$subtitle-font-color: white;

///////////////////////////////////////////////////////////////////////// STYLES

body, html {
  padding: 0;
  margin: 0;
  border: 0;
  width: 100vw;
  height: 100vh;
  font-family: "Fira Sans", sans-serif;

  //overflow: hidden;

}

.full-screen-container {
  margin: 0;
  padding: 0;
  @include flex-display(column);
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}
.hidden
{
  display: none;
}
.question-div {
  @extend .full-screen-container;
  justify-content: space-around;
  background-image: url("./../../media/questions-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Fira Sans", sans-serif;


  height: 100%;
  width: 100%;
  .intro-text{
    font-family: "Montserrat", sans-serif;
  }
  .print-form{

  }
  .question-box{
    @include flex-display(column);
    justify-content: space-between;
    padding: 20px;
    background-color: rgba(0,0,0,0.3) ;
  transition: all 0.6s ease-in;
    .question-top{

      .question-text{
        font-family: "Fira Sans", sans-serif;


      }
    }
    .question-buttons{
      @include flex-display(row);
      justify-content: space-around;
      .button{
        //margin:10px;
      }
    }

  }
}

